*

!docs/
!docs/**

!patchouli_books/
!patchouli_books/**

!resourcepacks/
!resourcepacks/*/
!resourcepacks/*/assets/
!resourcepacks/*/assets/*/
!resourcepacks/*/assets/*/lang/

!resourcepacks/*/assets/*/lang/zh_cn.json

#dev
!resourcepacks/*/assets/*/lang/en_us.json
!resourcepacks/*/assets/*/lang/en_us_template.json
!resourcepacks/*/assets/*/lang/building_shop_generated.json
!resourcepacks/*/assets/*/lang/old.json
!resourcepacks/*/assets/*/lang/new.json