patchouli_books/almanac/en_us
patchouli_books/almanac/book.json
patchouli_books/fish_finder/en_us
patchouli_books/fish_finder/book.json
resourcepacks/Sunlit Valley/assets/dialog/lang/update
resourcepacks/Sunlit Valley/assets/portable_blueprints/lang/building_shop_generated.json
resourcepacks/Sunlit Valley/assets/society_trading/lang/building_shop_generated.json